.contact .first{
    background-color: rgb(82, 41, 156);
    color: #fff;
    border-radius: 10px;
}
.contact{
    margin-bottom: 60px;
}
.contact .heading{
    margin-top: 60px;
    margin-bottom: 60px;
    color: rgb(82, 41, 156);
    padding: 0px !important;
    font-weight: 700 !important;
    font-size: 28px;
}
.first h4{
 padding-top: 60px;
}
.first .mail{
    padding-top: 20px;
   
}
.first .icon{
    margin-right: 10px;
    font-size: 25px;
    color: pink;
}
 a{
    text-decoration: none;
    color: #fff;
}
.shape{
    padding-top: 50px;
    border-radius: 10px;
   
}

.row{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  
}
.non-shad{
    box-shadow: none !important;
}
.form-1{
    margin-top: 4px;
}
.form-1 input {
  
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(141, 137, 137);
  }

  .form-1 input:focus, textarea:focus, select:focus{
    outline: none;
}

.form-2 label{
  margin-right: 1px;   
}
.form-2 .head{
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.form-2 input{
    margin-right: 4px;
}
.form-3 .head{
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.form-3 input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(141, 137, 137);
    width: 90%;
    margin-top: 20px;
}

.send-btn{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
     margin-right: 90px;
}
.butn-send{
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgb(82, 41, 156) !important;
    color: #fff;

}

.opt{
    box-shadow: none !important;
}