
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar-icon{
  color: rgb(197, 136, 23);
}

.navbar-custom{
    background-color: #4f4f4f !important;
  }
  .sign-btn{
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 0px !important;
    border: 1px solid rgb(197, 136, 23) !important;
    background-color: rgb(197, 136, 23) !important;
    color: #000;
  }
 
  
  .sign-btn:hover{
    color:#000 !important;
    background-color: #fff !important;
  }

  .nav-link{
    color: #000 !important;
    text-transform: uppercase;
    border: none;
  }